.transaction-item {
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.transaction-item:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* .text {
  border: 1px solid #e40e0e;
}

.amount {
  border: 2px dotted gray;
} */
